body {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    height: 100dvh;
    overflow-x: hidden; /* evita barras de rolagem laterais indesejadas */

}

.botoes {
    display: flex;
    align-items: center; /* alinha verticalmente ao centro */
    justify-content: space-between; /* empurra o conteúdo em espaços iguais */
    padding: 15px 25px;
    background-color: white;
    border-top: 1px solid #000;
    border-bottom: 2px solid rgb(17,108,194);
    width: 100%; /* garante que pegue a tela inteira */
    box-sizing: border-box; /* evita que o padding empurre a linha para fora da tela */
    margin-top: 0px; /* move a div inteira 0px para baixo */
    height: auto;

}

.nav_links {
    display: flex; /* faz os itens (home, sobre, contato) ficarem em linha */
    gap: 20px;     /* cria o espaçamento entre eles */
    
}

.nav_links .home .btn_home,
.nav_links .sobre .btn_sobre,
.nav_links .contato .btn_contato {
    background-color: white;
    color: blue;
}

.nav_links button.active {    
    background-color: rgb(17, 108, 194) !important;
    color: white !important;
    border-radius: 3px;
    font-weight: bold;
}

.nav_links button {
    background-color: white;
    color: blue;
    border: none;
    padding: 8px 15px;
    cursor: pointer;
    transition: 0.3s;
    border-radius: 3px;
    
}

.nav_links button:hover:not(.active){
    background-color: rgb(17, 108, 194);
    color: white;
    opacity: 0.95;
}

.titulo {
    background-color: darkcyan;
    padding: 50px;
    align-items: center;
    display: flex;
    justify-content: center;
    color: white;

    background: linear-gradient(to right, rgb(14, 77, 14), rgb(19, 97, 97));

}

.secoes {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    max-height: 75%;
}

.bombas {    
    display: flex;
    justify-content: center;
    margin: 0px auto;
}

.bombas img {
    width: 100%;
    height: 120px;
    display: block; /* Remove espaços vazios indesejados abaixo da imagem */
    object-fit: cover; /* Faz a imagem preencher o espaço sem distorcer, cortando as sobras */
}

.bomba1, .bomba2, .bomba3 {
    border: 1px #eee solid;
    border-radius: 10px;
    padding: 0 50px;
    overflow: hidden; /* esconde as partes estouradas que passam das bordas arredondadas */ 
    display: flex;
    flex-direction: column;
}

.bomba1 h4, .bomba2 h4, .bomba3 h4 {
    padding: 0 5px;
}

.bomba1 p, .bomba2 p, .bomba3 p {
    padding: 0 5px;
}

.bomba1 button, .bomba2 button, .bomba3 button {
    padding: 10px; 
    margin: 5px;
}

.espaco2 {
    padding: 10px;
}

.redes_sociais {
    display: flex;    
    flex-direction: column;
    align-items: center; /* centraliza o bloco todo no centro */
    text-align: center;
    background-color: rgb(160, 233, 209);
    padding-bottom: 20px;
    
}

.redes_imagens {
    display: flex;
    justify-content: center;
    align-items: center;
    /* border: 2px solid greenyellow;     */
    gap: 5px;
    width: 100%;
}

.redes_imagens img {
    width: 30px;
    height: 30px;
    object-fit: cover; /* preenche os 50x50 cortando as bordas sem distorcer */
    overflow: hidden; /* garante que nada saia da caixa 50x50 */
    border-radius: 10px;
}

.redes_imagens img:hover {
    transform: scale(1.1); /* efeito visual ao passar o mouse */
}

.logo {
    width: 50px;
    height: 50px;
    overflow: hidden;
}

.logo img {
    object-fit: cover; /* Agora sim! Ele corta a imagem para caber nos 50px sem distorcer */
    width: 100%; /* Faz a imagem ter a largura da div (50px) */
    height: 100%; /* Faz a imagem ter a altura da div (50px) */
}

.copyright {
    text-align: center;
    background-color: black;
    color: white;
    padding: 5px;

}

button {
    background-color: green;
    color: white;
    padding: 15px;
    border-radius: 5px
}

.titulo {
    
}



.body_sobre {
    background-color: #ddd;
    margin: 0;
    display: flex; /* Precisa-se de display: flex na div Pai juntamente com o margin: auto na div Filho e 
                    min-height: 100hv na div Pai */
    flex-direction: column;
    min-height: 100vh;
}

.unica {
    /* border: 2px solid crimson; */
    background-color: white !important;
    border-radius: 10px;
    margin: auto; /* Precisa-se de display: flex na div Pai juntamente com o margin: auto na div Filho e 
                    min-height: 100hv na div Pai */
 
    width: 63%;
    display: flex;
    flex-direction: column;
    text-align: center; 
    align-items: center;
}

.unica p {
    padding: 0px 20px;
}

.body_contato {    
    background-color: #ddd;
    margin: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    text-align: center;
    min-height: 100 dvh;
}

.unique {
    /* border: 2px solid crimson; */
    background-color: white !important;
    margin: auto;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    box-shadow: 0px 4px 10px rgba(0,0,0,1);
    padding: 5px 10px 5px 10px;
    width: 40%;
    max-width: 500px;
}

.formulario {
    width: 90%;
}

.formulario #form_contato {
    display: flex;
    flex-direction: column;
    gap: 15px;
    min-width: 100 dvw;
}

.formulario input,
.formulario textarea {
    width: 100%;
    padding: 10px; /* espaços dentro dos inputs  */
    border-radius: 5px;
    box-sizing: border-box; /* garante que o padding não estoure a caixa de diálogo - largura  */
}

.formulario textarea {
    height: 150px;
    resize: none;
}

.enviar {
    background-color: rgb(17, 108, 194);
    font-weight: bold;
}


.body_login {
  background-color: #ddd;
  color: rgb(17, 108, 194);
  margin: 0;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

img {
    max-width: 100%;
    height: auto;
}

.unick .imagem {
    display: flex; 
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.unick .imagem img {
    display: block; /* remove um pequeno espaço vazio que as imagens costumam ter embaixo*/
    height: auto;
    max-width: 10%;
}

.acessar {
  background-color: rgb(17, 108, 194);
}

.unick {
  background-color: white !important;
  border-radius: 10px;
  margin: auto;
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  width: 25%;
  max-width: 95 dvw;
  overflow: hidden;
  border: 2px solid #eee;
}

#form_login {
  padding: 30px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

#nome,
#email,
#area {
  /* border: 2px solid green; */
  width: 98%;
}


